@import vars
@import fonts
@import libs

*
  box-sizing: border-box

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul
  margin: 0
  padding: 0

li
  list-style: none

.content-wrapper
  width: 70%
  margin: auto


.red-text
  @include red-text

.big-text
  @include big-text

.title
  @include title

.cursive-title
  @include cursive-title

.white-text
  @include white-text

.underlined
  @include underlined-text

.header

  margin-top: 10px

  .header-content
    display: flex
    justify-content: space-between

    .logo-section
      display: flex

      .logo
        width: 42px
        height: 42px
        align-self: center
        cursor: pointer

      .name
        font-family: "Mistral"
        font-size: 42px
        align-self: center
        margin-left: 20px
        cursor: pointer

    .navbar
      align-self: center

      &-list
        display: flex

        &-item
          align-self: center
          font-family: "Montserrat"
          font-weight: bold
          text-transform: uppercase
          color: #999999
          transition: 0.1s
          cursor: pointer

          &:not(:first-child)
            margin-left: 35px

          &.active
            color: $text-primary


.main
  position: relative
  overflow: hidden
  height: 550px

  .main-bg
    position: absolute
    width: 100vw
    top: 60%

  .main-content
    text-align: center

    .main-title-container
      margin-bottom: 75px

      .thitnk
        transform: translateX(-195px)

      .main-title
        text-transform: uppercase

    .main-devices
      display: flex
      justify-content: center

      .ipad
        transform: translateX(115%)
        z-index: 1
        transition: 0.5s

        &:hover
          transform: translateY(-85px) translateX(115%)

      .iphone
        height: 100%
        transform: translateX(-210%) translateY(100px)
        z-index: 2
        transition: 0.5s

        &:hover
          transform: translateX(-210%) translateY(25px)

      .browser
        height: 100%
        transform: translateX(-55%) translateY(70px)
        z-index: 0
        transition: 0.5s

        &:hover
          transform: translateX(-95%) translateY(70px)
.works
  background-color: $secondary

  .works-content

    .works-title-container
      margin-bottom: 50px
      text-align: center

      .works-cursive-title
        transform: translateX(-120px) translateY(30px)

    &-main
      display: flex
      justify-content: space-between

      .description-container
        width: 250px

        .description-title
          font-family: "Montserrat"
          font-size: 18px
          text-transform: uppercase
          margin-bottom: 30px

        .description-description
          font-family: "Arial"
          font-size: 12px
          font-weight: 400
          margin-bottom: 30px

        .description-list

          .description-list-item
            text-transform: uppercase
            font-family: "Montserrat"

            &:not(:last-child)
              margin-bottom: 5px

      .works-technologies

        .technologies-title
          font-family: "Montserrat"
          font-size: 18px
          text-transform: uppercase
          margin-bottom: 30px

        .technologies-icons
          width: 250px
          height: 100px
          background-color: #635f6d
          border-radius: 8px
          display: flex
          justify-content: space-around
          text-align: center

          .block
            transition: 0.2s

            &:hover
              transform: scale(1.1)

          .html-block
            border-right: solid $text-primary 1px
            width: 33%


          .css-block
            border-right: solid $text-primary 1px
            width: 33%

          .android-block
            width: 33%

          .icon
            font-size: 48px

          .text
            font-family: "Montserrat"
            font-size: 14px

    .works-slider
      margin-top: 30px
      display: flex
      justify-content: center
      padding-bottom: 50px

.how-we-work
  position: relative

  .how-we-work-bg
    position: absolute
    top: 100%

  &-content
    padding-top: 90px

    .how-we-work-title
      display: flex
      justify-content: center
      padding-bottom: 80px

      .how
        @include red-text
        font-family: "Kenyan"
        margin-right: 5px
        text-transform: uppercase


      .we
        font-family: "Kenyan"
        transform: translateY(9px)
        font-size: 102px
        text-transform: uppercase
        text-decoration: underline

      .work
        @include red-text
        font-family: "Kenyan"
        margin-left: 5px
        text-transform: uppercase

    .how-we-work-description
      display: flex
      justify-content: space-around
      padding-bottom: 50px

      .block
        width: 280px

        .block-title
          font-family: "Montserrat"
          font-size: 18px
          text-transform: uppercase
          padding-bottom: 30px

        .block-text
          font-family: "Arial" sans-serif
          font-size: 12px

    .button-wrapper
      display: flex
      justify-content: center

      .how-we-work-button
        width: 200px
        height: 42px
        border-radius: 4px
        background-color: $text-secondary
        border: none
        color: $text-white
        font-family: "Montserrat"
        font-size: 16
        text-transform: uppercase
